<h2> Add Ship window</h2>
<h2> Kindly Enter the Ship details</h2>
<form #myform=ngForm (ngSubmit)="validation(myform.value)">

        Add Ship Name   : <input type="text" name="usr" ngModel/><br/><br/>

        Enter Source      : <input type="text" name="src" ngModel/> <br/><br/>.

      Enter Destination : <input type="text" name="dst" ngModel/> <br/><br/>

  Enter Travel duration : <input type="text" name="td" ngModel/> <br/><br/>

 Enter Seating Capacity : <input type="text" name="sc" ngModel/> <br/><br/>

 Enter Reservation  Capacity : <input type="text" name="rc" ngModel/> <br/><br/>

 <button>Add Ship</button><br/><br/>
 

</form>
<p id="a"></p>

