<!-- <app-usersignup></app-usersignup> -->
<h1>Note for New Users</h1>
<h3> For New User Registration Please Use Below Details</h3>
<h3>User Name : User01 </h3>
<h3>password : user123 <h3>
<button (click)="signup()">New Registration </button>



<!-- 
 <h2>User Sign Up Page</h2>
<form action="//submit.form" id="SignUp100" method="post" onsubmit="return ValidateForm(this);">
    <form #myform=ngForm (ngSubmit)="validation(myform.value)"></form>
    <table id="login" class="animate form" border="0" cellpadding="5" cellspacing="0" width="600">
    <tr> <td>
    <label for="FirstName">First</label>, <label for="LastName">Last Name*:</label>
    </td> <td>
    <input name="FirstName" type="text" maxlength="60" style="width: 146px;" />
    <input name="LastName" type="text" maxlength="60" style="width: 146px;" />
    </td> </tr> <tr> <td>
    <label for="FromEmailAddress">Email address* : </label>
    </td> <td>
    <input name="FromEmailAddress" type="text" maxlength="60" style="width: 300px;" />
    </td> </tr> <tr> <td>
    </td> </tr> <tr> <td>
    <label for="CellPhone">Cell Phone:</label>
    </td> <td>
    <input name="CellPhone " type="text" maxlength="43" style="width: 250px;" />
    </td> </tr> <tr> <td>
    <label for="StreetAddress">Address *:</label>
    </td> <td>
    <input name="StreetAddress" type="text" maxlength="120" style="width: 350px;" />
    </td> </tr> <tr> <td>
    <label for="City">City* : </label>
    </td> <td>
    <input name="City" type="text" maxlength="120" style="width: 300px;" />
    </td> </tr> <tr> <td>
    <label for="State">State/Province:</label>
    </td> <td>
    <input name="State" type="text" maxlength="120" style="width: 300px;" />
    </td> </tr> <tr> <td>
    <label for="Zip">Zip/Postal Code : </label>
    </td> <td>
    <input name="Zip" type="text" maxlength="30" style="width: 100px;" />
    </td> </tr> <tr> <td>
    <label for="Country">Country* :</label>
    </td> <td>
    <input name="Country" type="text" maxlength="120" style="width: 300px;" />
    </td> </tr> <tr> <td>

    * - Required fields
    </td> <td>
    <button routeLink="openwindow">Submit</button>
    <router-outlet></router-outlet>
    </td> </tr>
    </table>
    </form>
     -->