/* form,table,label{

    margin: 100px 100px;
    
}
*/
h3{
    text-align: center;
    text-decoration: dashed;

}
button{
    margin: 0px 530px;
}
h1{
    text-align: center;
    color: brown;
}




