<h2>Delete Route Window</h2>
<form #myform=ngForm (ngSubmit)=func(myform.value)>
    Enter Source : <input type="text" name="src" ngModel><br/><br/>
    Enter Destination : <input type="text" name="dest" ngModel><br/><br/>
    <button> Delete Route</button>
  </form>
  <p id="a"></p>


  <!-- <body>
    <h1>Delete Ship Route Window</h1>
    <form #myform=ngForm (ngSubmit)=func(myform.value)>
    Enter Source : <input type="text" name="src" ngModel><br/><br/>
    Enter Destination : <input type="text" name="dest" ngModel><br/><br/>
    Enter  Cost : <input type="text" name="cst" ngModel><br/><br/>
    <button> Delete Route</button>
  </form>
  <p id="a"></p>
  </body> -->